{% extends "layout.html" %}

{% block body %}
<h3>About</h3>
<hr>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi totam iure ex excepturi voluptates qui eum mollitia atque reiciendis quos, adipisci deleniti modi sit inventore itaque magni porro vel autem sequi amet, dolore iste accusantium. Soluta sint numquam officia earum pariatur. Non, ad quo explicabo accusamus eius magni odio vitae illum laborum, nihil itaque, necessitatibus voluptates a? Atque ad provident et cumque sequi velit laborum rerum placeat quisquam odit ipsam, harum odio eum nobis sit? Possimus nostrum laboriosam aut reiciendis dolor amet modi ab, tenetur architecto, excepturi sequi dolore suscipit! Iure architecto libero, alias nobis tempore consectetur odio voluptate cupiditate.
<hr>
{% endblock body %}